@import './override.bootstrap.scss';
@import '~bootstrap/scss/bootstrap';
@import 'notyf/notyf.min.css';

body {
	position: relative;
	margin: 0;
	padding: 0;
}

.chord {
	position: absolute;
	width: fit-content;
	background-color: #eee;
}